<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
	<div class="span-5 right">
		<div class="alert-box success">alert-box success</div>
		<div class="alert-box warning">alert-box warning</div>
		<div class="alert-box error">alert-box error</div>
		<div class="alert-box">alert-box</div>
	</div>
	<p>
		<% ActiveRecord::Base.connection.execute('SELECT NOW()').each do |row| %>
			<%= row%>
		<% end %>
	</p>
	<p>Times are in UTC (sorry). UTC time now is: <%= Time.now.getutc.strftime("%Y %m %d - %H:%M") %></p>
  <div class="field">
    <%= f.label :starts_at %><br />
    <%= f.date_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %><br />
    <%= f.date_select :ends_at %>
  </div>
	<div class="field">
    <%= f.label :tag, "Tag: \"success\", \"notice\", \"alert\", \"info\" (see right)" %><br />
    <%= f.select :tag, [["alert-box success", "alert-box success"], ["alert-box warning", "alert-box warning"], ["alert-box error", "alert-box error"], ["alert-box", "alert-box"]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
