<%= form_for(@announcement) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
		<i>This is what will show up in the bar on top</i><br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :message %>
		<i>This is for the main announcement. You can use HTML, but <u>make sure to close tags!</u></i>
    <%= f.text_area :message %>
  </div>
	<div class="span-5 right">
		<div class="alert-box success">alert-box success</div>
		<div class="alert-box warning">alert-box warning</div>
		<div class="alert-box error">alert-box error</div>
		<div class="alert-box">alert-box</div>
	</div>

	<p>Times are now in EST, yay normal time!</p>
	
	<div class="row announcement">
		<div class="four columns">  
			<div class="field">
	    	<%= f.label :starts_at %>
	    	<%= f.datetime_select :starts_at %>
	  	</div>
	  	<div class="field">
	    	<%= f.label :ends_at %>
	    	<%= f.datetime_select :ends_at %>
	  	</div>
		</div>
	</div>
	<div class="field">
		Is this ready for display on the website? Only select this when you are 100% sure!
  	<%= f.select :ready, [["No, this is not ready yet", 0],["Yes, this is 100% ready", 1]] %>
	</div>
	<div class="field">
    <%= f.label :tag, "Tag: \"success\", \"notice\", \"alert\", \"none (blank)\" (see right)" %>
    <%= f.select :tag, [["alert-box success", "alert-box success"], ["alert-box warning", "alert-box warning"], ["alert-box error", "alert-box error"], ["alert-box", "alert-box"]] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
