<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
	<div class="field">
    <%= f.label :UID, "Your UID" %><br />
    <%= f.text_field(:UID, :size => 9, :value=> session[:cas_user], :readonly => true, :size => session[:cas_user].length-1 ) %>
  </div>
	<div class="field">
    <%= f.label :birth_year, "Your birth year" %><br />
    <%= f.select(:birth_year, %w{ 1987 1988 1989 1990 1991 1992 1993 1994 })%>
  </div>
	<div class="field">
    <%= f.label :grad_year, "Graduation Year" %><br />
    <%= f.select(:grad_year, %w{ 2011 2012 2013 2014 2015 2016 2017 })%>
  </div>
	<div class="field">
    <%= f.label :is_male, "Sex" %><br />
		<%= f.select(:is_male, [["Male", true],["Female", false]])%>
	</div>
	<div class="field">
    <%= f.label :height, "Your height (in cm, for now)" %><br />
    <%= f.text_field :height %>
  </div>
	<div class="field">
    <%= f.label :is_special, "Specialty Diet" %><br />
   	<%= f.select(:is_special, [["No", false],["Yes", true]])%> Select "Yes" if you have a specialty diet.<br>
<p>There are many students at the University of Maryland that have diets that would not necessarily be recommended by the USDA and other nutritional analysis studies, but may still be healthy for their needs. This includes extremely active students such as athletes and bodybuilders, and students who eat more than 2400 or less than 1200 calories daily, students with specialty diets not related to caloric intake (vegetarians are NOT included in this group), et cetera. Most people do not fall into this group, and should just select "No".</p>
<p>Due to the nature of our study, and the tools we will be using, it is possible that our analysis may not be accurate for those students who are in these special categories, however, they may still find it beneficial to use our service for tracking their diets.</p>
  </div>
	<p><h3> By signing up below you agree to our <%= link_to "Terms and Conditions", terms_path %>.</h3> </p>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>