<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
      <% unless @user.meals.empty? %>
        <table class="meals" summary="User meals">
          <%= render @meals %>
        </table>
        <%= will_paginate @meals %>
      <% end %>
    </td>
    <td class="sidebar round">
        <strong>Name</strong> <%= @user.name %><br />
        <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
        <strong>Meals</strong> <%= @user.meals.count %>
    </td>
  </tr>
</table>
