<div class="profile" summary="Profile information">
    <div class="meal_list">
      <div class="eight columns">
				<h1>
        	<%= @user.name %>'s Meals
      	</h1>
			</div>
			<div class="four columns">
				<div class="right">
					<script type="text/javascript">
					
					    $(window).bind('hashchange load',function() {
					     	var onchange_checkbox = $('.switch :checkbox').iphoneStyle({ 
										resizeContainer: false,
										resizeHandle: false,
										onChange: function(elem, value) {
						          if(value == false) {
												window.location.hash = 'list_view';
												// $('.list_span').show();
												// $('.list_view').fadeIn();
												// $('.calendar_span').hide();
												// $('.calendar_view').hide();
											} else {
												window.location.hash = 'calendar_view';
												// $('.calendar_span').show();
												// $('.calendar_view').fadeIn();
												// $('.list_span').hide();
												// $('.list_view').hide();
											}
						        }
						 });
						
								$('.switch').show();
								$('.calendar_span').show();
								
								$("#month").children("a").each(function() {   
								            $(this).get(0).hash = window.location.hash;
								        });
																
									if(location.hash.indexOf('calendar_view') >=0) {
										$('.switch :checkbox').attr('checked', true);
										$('.calendar_span').show();
										$('.calendar_view').fadeIn();
										$('.list_span').hide();
										$('.list_view').hide();
									} else if(location.hash == '') {
										$('.switch :checkbox').attr('checked', true);
										location.hash = '#calendar_view';
										// $('.calendar_span').show();
										// $('.calendar_view').fadeIn();
										// $('.list_span').hide();
										// $('.list_view').hide();
									} else {
										$('.switch :checkbox').attr('checked', false);
										$('.list_span').show();
										$('.list_view').fadeIn();
										$('.calendar_span').hide();
										$('.calendar_view').hide();
									}
								
									$('a[data-date-eaten]').live('click', function (e) {
											date_eaten = $(this).attr('data-date-eaten');
											$('#meal_date_eaten').val(date_eaten);
									  });
								
							});
							
							// $(window).hashchange(function(){
							// 								$("#month").children("a").each(function() {   
							// 								            $(this).get(0).hash = window.location.hash;
							// 								        });
							// 												if(location.hash.indexOf('calendar_view') >=0) {
							// 													$('.switch :checkbox').attr('checked', true);
							// 													$('.calendar_span').show();
							// 													$('.calendar_view').fadeIn();
							// 													$('.list_span').hide();
							// 													$('.list_view').hide();
							// 												} else if(location.hash == '') {
							// 													$('.switch :checkbox').attr('checked', true);
							// 													location.hash = '#calendar_view';
							// 													// $('.calendar_span').show();
							// 													// $('.calendar_view').fadeIn();
							// 													// $('.list_span').hide();
							// 													// $('.list_view').hide();
							// 												} else {
							// 													$('.switch :checkbox').attr('checked', false);
							// 													$('.list_span').show();
							// 													$('.list_view').fadeIn();
							// 													$('.calendar_span').hide();
							// 													$('.calendar_view').hide();
							// 												}						
							// 						    });
							
								
					  </script>

					  <div class="switch">
							<input type="checkbox" checked="checked" id="on_off" style="width: 40px; height: 40px;"/>
						</div>
					</div>
					<div class="right">
						<span class="calendar_span">
							Switch to list view
						</span>
						<span class="list_span">
							Switch to calendar view
						</span>
					</div>
			</div>
			<div id="calendar" class="ten columns">
				<h2 id="month">
		    	<%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
		    	<%=h @date.strftime("%B %Y") %>
		    	<%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
		  	</h2>
			</div>
			<div class="calendar_view ten columns">
				<i>Click on the plus icon to add a new meal, or click on an existing meal's graph to edit it.</i>
        <div id="calendar">
				  <%= calendar_for @user.meals, :year => @date.year, :month => @date.month do |calendar| %>
				    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
				    <%= calendar.day(:day_method => :date_eaten) do |date, meals| %><div id="test" style="overflow: hidden;">
								<% unless date > Date.today %>
										<% if !Meal.search(date, @user.id).blank? %>
				      				<%= link_to date.day, :controller => "meals", :action => "show", :id => Meal.search(date, @user.id).sort_by(&:time_of_day).first.id %>
										<% else %>
											<%= date.day %>
											<div id="calendar_top_right"  style="z-index:100;"><%= link_to image_tag("add.png"), { :controller => "meals", :action => "new", :date_eaten => "#{date.year}-#{date.month}-#{date.day}"}, "data-reveal-id"=>"myModal", "data-date-eaten"=> "#{date.year}-#{date.month}-#{date.day}"%></div>
										<% end %>

										<div id="<%= "#{date}_reporting" %>" style="position: relative; top: 5px; left: 2px;"></div>
										
								<% else %>
									<%= date.day %>
								<% end %>
								<% if !Meal.search(date, @user.id).blank? %>
										<% cals = 0 %>
										<% salt = 0 %>
										<% fats = 0 %>
										<% sugs = 0 %>
										<% f_and_vs = 0 %>
										<% for individual_meal in meals do %>
											<% for ingredient in individual_meal.ingredients do %>
											<%  if ingredient.fruits_and_vegetables == true %>
							  				 <% f_and_vs = f_and_vs + 1*ingredient.servings %>
							  			 <% end %>
												<% food = Food.find(ingredient.food_id) %>
												<% if ingredient.serving_size.nil? %>
													<% multiplication_factor = ingredient.servings%>
												<% else %>
													<% multiplication_factor = ingredient.servings*ingredient.serving_size/100%>
												<% end %>
												<% cals = cals + (food.calories*multiplication_factor) %>
												<% salt = salt + (food.sodium*multiplication_factor) %>
												<% fats = fats + (food.lipid_total*multiplication_factor) %>
												<% sugs = sugs + (food.sugar_total*multiplication_factor) %>
											<% end %>
										<% end %>	
										<% @chart_data = "#{'%1.2f' % (100*cals/@dvs[:calories])}, #{'%1.2f' % (100*salt/@dvs[:sodium])}, #{'%1.2f' % (100*fats/@dvs[:total_fat])}, #{'%1.2f' % (100*sugs/@dvs[:sugar_total])}, #{'%1.2f' % (100*f_and_vs/@dvs[:f_and_vs])}" %>
										<div  style="overflow: hidden;"><a href="<%= meal_path(Meal.search(date, @user.id).sort_by(&:time_of_day).first.id) %>" style="overflow: hidden;"><div id="<%= "#{date}_chart" %>" style="margin-left: -50px; margin-top: -50px; margin-bottom: -52px;"></div>
										</a></div>
										<script>
										
										var chart;
										var dv_labels = new Array();
										dv_labels[0] = 'Calories';
										dv_labels[1] = 'Sodium';
										dv_labels[2] = 'Fats';
										dv_labels[3] = 'Sugars';
										dv_labels[4] = 'Fruit/Veg';


										$(document).ready(function() {
										   chart = new Highcharts.Chart({
										      chart: {
										         renderTo: '<%= "#{date}_chart" %>',
										         defaultSeriesType: 'column',
															width: 150,
															height: 200,
															backgroundColor: 'rgba(0, 0, 0, 0)'
										      },
										      title: {
										         text: ' '
										      },
													//None for now
										      // subtitle: { 
										      //    text: ''
										      // },
										      xAxis: {
										         categories: [
										            'Calories',
																'Sodium',
																'Fats',
																'Sugars',
																'Fruits and Veggies'
										         ]
										      },
										      yAxis: {
										         min: 0,
														 max: 200,
										         title: {
										            text: ' '
										         },
														plotLines: [{
														            color: 'red',
														            width: 2,
														            value: 100
														        }],
														gridLineWidth: 0
										      },
													legend: {
											        enabled: false
											    },
										      tooltip: {
										        formatter: function(){return false;}
										      },
										      plotOptions: {
											       series: {
											            colorByPoint: true,
																	pointWidth: 15,
																	point: {
												                events: {
												                    mouseOver: function() {
												                        $('#<%= "#{date}_reporting" %>').html(dv_labels[this.x]);
												                    }
												                }
												            },
												            events: {
												                mouseOut: function() {                        
												                    $('#<%= "#{date}_reporting" %>').empty();
												                }
												            }
											        },
															line: {
															            lineWidth: 4,
															            states: {
															               hover: {
															                  lineWidth: 5
															               }
															            },
															            marker: {
															               enabled: false,
															               states: {
															                  hover: {
															                     enabled: false
															                  }
															               }   
															            }
															}
										      },
										      series: [{
														 type: 'column',
										         data: [<%= @chart_data %>]
										      }]                 
										   });                  


										});
										</script>
										
								<% end %>
								
								</div>
				    <% end %>
				  <% end %>
				</div>
			</div>
			<div class="eight columns list_view">
				<ul class="block-grid two-up">
					<li>
						<strong>This Month's Meals</strong><br />
						<ul>
							<% @user.meals.all.sort_by(&:date_eaten).each do |meal| %>
									<li>
										<% if meal.date_eaten.month == @date.month %>
										<% meal_name = "#{meal.date_eaten.strftime('%A, %b %d')}" %>
											<%= link_to meal_name, :controller => "meals", :action => "show", :id => meal.id %>
										<% end %>									
									</li>
							<% end %>
						</ul>
					</li>
					<li>
						<strong>Favorite Meals</strong><br />
							<ul>
								<% @user.meals.find_all_by_favorite(true).each do |meal| %>
										<li>
											<% if !meal.fave_name.blank? %>
												<%= link_to meal.fave_name, :controller => "meals", :action => "edit", :id => meal.id %>
											<% else %>
											<%= link_to "Meal number #{meal.id}", :controller => "meals", :action => "edit",
											 																			:id => meal.id %>
											<% end %>
										</li>
								<% end %>
								
							</ul>
			    </li>
			</ul>
					<%= link_to "Add a new meal:", { :controller => "meals", :action => "new", :date_eaten => "#{Date.today}" }, "data-reveal-id"=>"myModal", "data-date-eaten"=> "#{Date.today}"%>
					<%= link_to image_tag("add.png"), { :controller => "meals", :action => "new", :date_eaten => "#{Date.today}" }, "data-reveal-id"=>"myModal", "data-date-eaten"=> "#{Date.today}"%>
			</div>
    </div>
</div>
<div id="myModal" class="reveal-modal">
	<div class="container">
		<a class="close-reveal-modal">×</a>
		<%= render 'meals/form' %>
	</div>
</div>
