<table class="profile" summary="Profile information">
  <tr>
    <td class="meal_list">
      <h1>
        <%= @user.name %>
      </h1>
      <% unless @user.meals.empty? %>
          <%= render @meals %>
        <%= will_paginate @meals %>
      <% end %>
    </td>
    <td class="sidebar round">
			<strong>You have <%= pluralize(@user.meals.count, "meal") %></strong><br /><br />
			<%=  link_to 'Add a meal', foods_path %> <br />
    </td>
  </tr>
</table>
