<h1>Frequently Asked Questions</h1>
<p>
	<div id="faq">
		<dl>
        <dt>How do I make a meal?</dt>

				<dd>To make a meal, go to your <b><%= link_to 'home', user_path(current_user) %></b> page and select the <b>date</b> you ate the meal. Select the right <b>time of day</b>, and use the slider to enter the meal's <b>price</b> (if applicable). Then, click <b>"Add Food"</b> and type the name of the food into the <b>input field</b> that appears. once you start typing a list of possible matches from the USDA database shows up. If there are too many matches, try refining your search (eg. "Chicken Pot Pie" instead of "Pie" or "Chicken") and/or scrolling the list to find the best match for what you ate (we are working on letting you add your own food items as well). Change the number in the serving size box if necessary (this number can be a decimal, such as 0.5). You may also remove items by clicking the <b>"remove"</b> link to the right of the serving size input field.</dd><br/>
				
				<dd>If you would like to add another item, simply press <b>"Add Food"</b> again and follow the steps above. Once you are done adding your meal, press <b>"Submit"</b>, and that's it!</dd>
				
				<dt>Okay, but what if I forgot something? How do I edit a meal?</dt>

				<dd>To modify an existing meal, go to your <b><%= link_to 'home', user_path(current_user) %></b> page. Your existing meals show up on the calendar on the day they were eaten, differentiated by time of day. For example, you might see a meal on Friday the 5th in the Morning. Clicking on the time of day will bring you to the <b>meal show page</b>, which shows you an overview of that day's meals. The tab corresponding to the time of day you selected in the previous page will be shown (if you want to view or modify a different meal, you can just click its tab). To the right of the tabs you will see three options that look like this: <b> Edit | Delete | View All</b>. If you would like to <b>delete</b> the meal, press <b>"Delete"</b>, but remember that once a meal is deleted it cannot be recovered. Editing the meal is as easy as making one: simply click <b>"Edit"</b> and you will be taken to the same form you used to submit the meal. Make any changes you'd like (even change the date eaten!) and click <b>"Submit"</b>, and presto, you can view your changes!</dd>
        
        <dt>Is the data I report confidential?</dt>
        
        <dd>The data you report on Team DIET Food Tracker as well as your personal information (such as your email address and your Directory ID) are confidential and will never be used or released to third parties. Please review our <%= link_to "Privacy Policy", '/privacy' %> for more information.</dd>
        
        <dt>How accurate is the nutritional information that I see on the DIET Food Tracker?</dt>
        
        <dd>Most of the nutritional information of the foods on our website are taken from the <%= link_to "USDA National Nutrient Database for Standard Reference", 'http://www.ars.usda.gov/Services/docs.htm?docid=8964' %> database set forth by the United States Department of Agriculture. The database was last updated in 2010.</dd>

				<dd>We also have information from University of Maryland's Dining Services, please see below for more details. Finally, we also have some user-submitted food items which have been reviewed by a member of the team for accuracy. <i>Note: In certain cases, we may contact users for proof of nutritional information (generally a picture of the nutrition facts label of the item in question) for information that is difficult to verify, such as specialty or imported food.</i></dd>
        
        <dt>Where can I get more information on the foods specifically served at the Dining Halls at the University of Maryland?</dt>

        <dd>To get more information on the foods served at the University of Maryland's Dining Halls, click <%= link_to "here", 'http://dining.umd.edu/' %>.</dd>       
        
        <dt>How do I contact the members of Team DIET?</dt>

        <dd>To contact the members of Team DIET email us at <a href="mailto:teamdietumd@gmail.com">teamdietumd@gmail.com</a>.</dd>
			</div>
		</dl>
</p>
