<p class="fields">
	<%= f.label :what_food, "Food" %><br />
	<%= f.text_field :what_food %>
	<%= f.label :servings, "How many servings?" %>
	<%= f.text_field :servings %>
	<label id="serving_size"></label>
	<%= f.link_to_remove "remove" %>
	<script type="text/javascript">
	$(document).ready(function() {
	    // var name = <%= @autocomplete_foods %>;
	    $('*[id*=what_food]').autocomplete({ source: '<%= foods_path(:format => :json) %>',
																						change: function(event, ui) {
																						            $(this).next().next().next().text(ui.item ? ui.item.serving : "each");
																						            if (ui.item) {
																						                $(this).next().next().next().text("One serving is: " + ui.item.serving + " (" + ui.item.grams + " grams)");
																						            }
																												$(this).next().next().val(1);
																						        }});
	
	$.ui.autocomplete.prototype._renderItem = function (ul, item) {
							the_term = this.term.split(' ').join('|');
	            item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + the_term + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong></strong>");
	            return $("<li></li>")
	                    .data("item.autocomplete", item)
	                    .append("<a>" + item.label + "</a>")
	                    .appendTo(ul);
	        };
	
	});
	</script>
</p>