<p>
	<span class="content">
	<% @foods.each do |food| %>
	 <% if food.id == meal.food_id %></span>
</p>
<table>
	<tr>
		<% times = ["in the morning", "in the afternoon", "during the evening", "at night"] %>
		On <%= meal.day.strftime("%A, %B %e, %Y") %> <%= times[meal.time_of_day.to_i - 1] %> you ate: 
	</tr>
	<tr>
		<td style="width: 14%;">
			Food Name
		</td>
		<td style="width: 14%;">
			Price
		</td>
		<td style="width: 14%;">
			Location
		</td>
		<td style="width: 14%;">
			Portion
		</td>
		<td style="width: 14%;">
			Calories
		</td>
		<td style="width: 14%;">
			Sat Fat
		</td>
	</tr>
	<tr>
		<td>
			<%= food.name %>
		</td>
		<td>
			<%= number_to_currency(meal.price, :unit => "$") %>
		</td>
		<td>
			<% locations = ["The Diner", "South Campus Diner", "Denton", "Shops", "Off-Campus"] %>
			<%= locations[meal.location.to_i - 1] %>
		</td>
		<td>
			<%= pluralize(meal.serving_size, food.portion_display_name) %>
		</td>
		<td>
			<%= food.calories %>
		</td>
		<td>
			<%= food.saturated_fats %>
		</td>
	</tr>
</table>
<% end %>
<% end %>

