<div id="meal_container"><div id="meal_top_right"><%= link_to "Add new", :controller => "meals", :action => "new", :date_eaten => @meal.date_eaten %> | <%= link_to "View all", user_path(current_user) %></div>

<h1>Meal details for <%= @meal.date_eaten.strftime("%A, %B %e") %></h1>

<% todays_meals = Meal.search(@meal.date_eaten, @meal.user_id).order("time_of_day") %>
<div id="meal_summary" class="round">
	<legend>Daily Totals</legend>
	<% cals = 0 %>
	<% salt = 0 %>
	<% fats = 0 %>
	<% sugs = 0%>
	<% for individual_meal in todays_meals do %>
		<% for ingredient in individual_meal.ingredients do %>
			<% food = Food.find(ingredient.food_id) %>
			
			<% if food.weight_1_gms == 0 %>
				<% multiplication_factor = ingredient.servings%>
			<% else %>
				<% multiplication_factor = ingredient.servings*(food.weight_1_gms/100)%>
			<% end %>	
			<% cals = cals + (food.calories*multiplication_factor) %>
			<% salt = salt + (food.sodium*multiplication_factor) %>
			<% fats = fats + (food.lipid_total*multiplication_factor) %>
			<% sugs = sugs + (food.sugar_total*multiplication_factor) %>
		<% end %>
	<% end %>	
	<% dv_color_cals = cals < 2000 ? "dv_good" : "dv_bad" %>
	<% dv_color_salt = salt < @dvs[:sodium] ? "dv_good" : "dv_bad" %>
	<% dv_color_fats = fats < @dvs[:total_fat] ? "dv_good" : "dv_bad" %>
	<% dv_color_sugs = sugs < @dvs[:total_fat] ? "dv_good" : "dv_bad" %>
	
	<table>
		<td><div class="summary round <%= dv_color_cals %>">
			<div class="summary_label">Calories:</div>
			<div class="summary_value"><%= h('%.0f' % (cals)) %></div>
		</div></td>
		<td><div class="summary round <%= dv_color_salt %>">
			<div class="summary_label">Sodium:</div>
			<div class="summary_value"><%= h('%.0f' % (salt)) %>mg</div>
		</div></td>
		<td><div class="summary round <%= dv_color_fats %>">
			<div class="summary_label">Fats:</div>
			<div class="summary_value"><%= h('%.0f' % (fats)) %>g</div>
		</div></td>
		<td><div class="summary round <%= dv_color_sugs %>">
			<div class="summary_label">Sugar:</div>
			<div class="summary_value"><%= h('%.0f' % (sugs)) %>g</div>
		</div></td>
	</table>
</div>

<% times = ["Morning", "Afternoon", "Evening", "Night"] %>

<div id="meal">
	
<ul>
<% for individual_meal in todays_meals do %>
		<li><%= link_to("#{times[individual_meal.time_of_day.to_i - 1]}","#meal_#{individual_meal.id}") %></li>
<% end %>
</ul>
<% for individual_meal in todays_meals do %>
<%= content_tag_for(:div, individual_meal) do %>
	<p>
<strong> 
		<% locs = ["at the North Campus Diner", "at the South Campus Diner", "at 251 North (Denton)", "at the Shops", "off campus"] %>
		You spent $<%= individual_meal.price %> 
		when you were <%= locs[individual_meal.location.to_i - 1] %>, and you ate:</strong>

<div id="meal_top_right"><%= link_to "Edit", edit_meal_path(individual_meal) %> | <%= link_to "Delete", individual_meal, :method => :delete %></div>
<% for ingredient in individual_meal.ingredients do %>

	<% food = Food.find(ingredient.food_id) %>
<div id="food_title"><%= h(food.name) %></div>
<br />

<table id="nut_facts_table">
		<tr>
			<td id="left_part">
		    <div id="header"><b>Nutrition Facts</b></div>            
		    <div class="label">Serving Size <%= h(food.weight_1_desc.blank? ? "100 grams" : "#{food.weight_1_desc} (#{food.weight_1_gms})") %>*</div>     		    
		  </td>          
       <td class="label amount_serving">
         <div class="item"><b>Amount/Serving</b></div>
         <div class="hr thick" />
       </td>
       <td class="label amount_serving">
         <b>Amount/Serving</b>
         <div class="hr thick" />
       </td>
     </tr>
     <tr>
       <td>
					<div class="label">Servings eaten <%= h(ingredient.servings) %></div>          
			</td>
       <td class="label amount_serving">
         <div><b>Total Fat</b> <%= h(food.lipid_total) %>g</div>            
         <div class="hr thin" />
       </td>
       <td class="label amount_serving">            
         <div><b>Total Carbs</b> <%= h(food.carbohydrates) %>g</div>            
         <div class="hr thin" />
       </td>
     </tr>
     <tr>
			 <td>
				<div class="label"><b>Calories <%= h(food.calories) %></b></div>
			 </td>
       <td class="label amount_serving">            
         <div class="indent">Sat. Fats <%= h(food.fa_sat) %>g</div>            
         <div class="hr thin " />
       </td>
       <td class="label amount_serving">            
         <div class="indent">Dietary Fiber <%= h(food.fiber) %>g</div>            
         <div class="hr thin" />
       </td>
     </tr>
     <tr>
       <td>
			 		<div class="label indent">Calories from Fat <%= h(food.lipid_total*9) %></div>
       </td>
			 <td class="label amount_serving">            
         <div><b>Cholesterol</b> <%= h(food.cholesterol) %>g</div>            
         <div class="hr thin" />
       </td>
       <td class="label amount_serving">            
         <div class="indent">Sugars <%= h(food.sugar_total) %>g</div>            
         <div class="hr thin" />
       </td>
     </tr>
     <tr>
       <td>
				 <div class="label">*All nutritional facts are shown <b>per 100 grams</b>.</div>
			 </td>
       <td class="label amount_serving">            
         <div><b>Sodium</b> <%= h(food.sodium) %>g</div>          
         <div class="hr thick" />
       </td>
       <td class="label amount_serving">            
         <div><b>Protein</b> <%= h(food.protein) %>g</div>            
         <div class="hr thick" />
       </td>
     </tr>
     <tr>
       <td>
			 </td>
       <td class="label amount_serving">
	     <% if food.calcium != 0.0 %>
         <div><b>Calcium</b> <%= h(food.calcium) %>g </div>      
         <div class="hr thin" />
				<% end %>
       </td>
       <td class="label amount_serving"> 
				<% if !food.iron.nil? %>			          
         <div><b>Iron</b> <%= h(food.iron) %>g </div>            
         <div class="hr thin" />
				<% end %>
       </td>
     </tr>
		<tr>
			<td/>
       <td class="label amount_serving">  
				<% if  !food.vit_c.nil? %>			          
         <div>Vitamin C <%= h(food.vit_c) %>g</div>          
         <div class="hr thin" />
				<% end %>	
       </td>
		</tr>
	</table>
<% end %>
<% end %>
<% end %>
	<p>The nutrient composition of food may vary due to: genetic, environmental and processing variables; changes in the manufacturer's product formulation; and cooking and preparation techniques.</p>    
	<p>The information Team DIET and/or UMD Dining provides should be considered as approximations of the nutritional analysis menu items.</p>
 
	<script>
		$(function() {
			$("#meal").tabs();
			var index = $("#meal a[href='#meal_" + <%= @meal.id %> + "']").parent().index();
			$('#meal').tabs('select', index);
		});
	</script>
</div>