<div id="meal_container" class="container">
	<div class="row">
		<ul class="block-grid three-up">
			<li>
				<h1 id="show_date"><%= @meal.date_eaten.strftime("%A, %B %e") %></h1>
				<%= link_to "Edit", { :controller => "meals", :action => "new", :date_eaten => "#{@meal.date_eaten.year}-#{@meal.date_eaten.month}-#{@meal.date_eaten.day}"}, "data-reveal-id"=>"myModal", "data-date-eaten"=> "#{@meal.date_eaten.year}-#{@meal.date_eaten.month}-#{@meal.date_eaten.day}", :class=> "nice medium radius blue button", :id => "edit_meal"%>
				<%= link_to 'Delete', @meal, :method => :delete, :class => "nice medium red button" %>
			</li>
			<li>
				<div id="todays_chart" class="offset-by-five"></div>
			</li>
		</ul>
	</div>

		<script>
		var chart;
		var dv_labels = new Array();
		dv_labels['Calories'] = '<%= @dvs[:calories] %> calorie diet.';
		dv_labels['Sodium'] = '<%= @dvs[:sodium] %>mg DV.';
		dv_labels['Fats'] = '<%= @dvs[:total_fat] %>g DV.';
		dv_labels['Sugars'] = '<%= @dvs[:sugar_total] %>g DV.';
		dv_labels['Fruits and Veggies'] = '<%= @dvs[:f_and_vs] %> fruit and vegetable diet.';
	
		var dv_data = new Array();
		dv_data['Calories'] = <%= @dvs[:calories] %>;
		dv_data['Sodium'] = <%= @dvs[:sodium] %>;
		dv_data['Fats'] = <%= @dvs[:total_fat] %>;
		dv_data['Sugars'] = <%= @dvs[:sugar_total] %>;
		dv_data['Fruits and Veggies'] = <%= @dvs[:f_and_vs] %>;

	
		$(document).ready(function() {
		   chart = new Highcharts.Chart({
		      chart: {
		         renderTo: 'todays_chart',
		         defaultSeriesType: 'column',
			        width: 400,
							height: 200,
							backgroundColor: 'rgba(0, 0, 0, 0)'
		      },
		      title: {
		         text: 'Today\'s Summary'
		      },
					//None for now
		      // subtitle: { 
		      //    text: ''
		      // },
		      xAxis: {
		         categories: [
		            'Calories',
								'Sodium',
								'Fats',
								'Sugars',
								'Fruits and Veggies'
		         ]
		      },
		      yAxis: {
		         min: 0,
						 max: 200,
		         title: {
		            text: 'Recommendation'
		         },
						labels: {
						            formatter: function() {
						                return this.value +'%';
						            }
						        },
						plotBands: [{ // MAX
						            from: 100,
						            to: 200,
						            color: 'rgba(255, 0, 0, 0.1)',
						            label: {
						               text: '',
						               style: {
						                  color: 'red'
						               }
						            }
						         }, { // MAX
						            from: 0,
						            to: 100,
						            color: 'rgba(0, 255, 0, 0.1)',
						            label: {
						               text: '',
						               style: {
						                  color: 'green'
						               }
						            }
						         }],
						plotLines: [{
						            color: 'red',
						            width: 2,
						            value: 100
						        }],
						gridLineWidth: 0
		      },
			    legend: {
			        enabled: false
			    },
				
		      tooltip: {
		         formatter: function() {
		            return ''+
		               Math.round(this.y/100*dv_data[this.x])+ ' is ' + this.y + '% of a ' + dv_labels[this.x];
		         }
		      },
	
		      plotOptions: {
			       series: {
			            colorByPoint: true
			        },
							line: {
							            lineWidth: 4,
							            states: {
							               hover: {
							                  lineWidth: 5
							               }
							            },
							            marker: {
							               enabled: false,
							               states: {
							                  hover: {
							                     enabled: false
							                  }
							               }   
							            }
							}
		      },
		      series: [{
						 type: 'column',
		         data: [<%= @chart_data %>],
							dataLabels: {
							                enabled: true,
															y: -4,
															formatter: function() {
															                    return Math.round(this.y/100*dv_data[this.x]);
															                },
															color: 'black'
							            }
		      }]                 
		   });                  


		});
		</script>

	<div class="panel" id="meal">
		
	<div id="accordion">
	
			<%= content_tag_for(:div, @this_meal) do %>

				<% for ingredient in @this_meal.ingredients do %>

					<% food = Food.find(ingredient.food_id) %>
						<div class="nice" id="food_title">
							<div class="row">
								<div class="eight columns">
									<a><%= h(food.name) %></a> 
								</div>
								<div class="four columns">
										<div class="row">
											<span class="green radius label">Calories: <%= h('%.0f' % (food.calories)) %></span>
											<span class="green radius label">Sodium: <%= h('%.0f' % (food.sodium)) %>mg</span>
										</div>
										<div class="row">
											<span class="green radius label">Fats: <%= h('%.0f' % (food.lipid_total))%>g</span>
											<span class="green radius label">Sugar: <%= h('%.0f' % (food.sugar_total)) %>g</span>
										</div>
								</div>
							</div>
						</div>
						
				<div><div class="row" id="nut_facts_table">
					<div class="twelve columns">
							<ul class="block-grid four-up heading">
								<li class="label amount_serving" id="header">
										<div class="item"><b>Nutrition Facts</b></div>
										<div class="hr thick"></div>
								</li>
								<li class="label dv" id="header">
										<div class="item"><b>&nbsp;</b></div>
										<div class="hr thick"></div>
								</li>
								<li class="label dv" id="header">
										<div class="item"><b>&nbsp;</b></div>
										<div class="hr thick"></div>
								</li>
								<li class="label dv" id="header">
										<div class="item"><b>&nbsp;</b></div>
										<div class="hr thick"></div>
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label amount_serving">
									<div class="label"><b>Calories <%= h('%.0f' % (food.calories)) %></b></div>
								</li>
								<li class="label dv">

								</li>
								<li>
									<div class="label">Calories from Fat <%= h('%.0f' % (food.lipid_total*9))  %></div>					 		
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label amount_serving">
										<% if food.umd == 0%>            
											Serving size: <%= h(food.weight_1_desc.blank? ? "100 grams" : "#{food.weight_1_gms} grams") %>
								  	<% elsif food.umd == 1 %>
											Serving size: <%= h(food.weight_1_desc.blank? ? "100 grams" : "#{food.weight_1_desc}") %>
										<% elsif food.umd == 2 %>
											Serving size: <%= h(food.weight_1_desc.blank? ? "each" : "#{food.weight_1_desc}") %> 
										<% end %>
								</li>
								<li class="label dv">

								</li>
								<li class="label amount_serving">
									<div class="label">Serving(s) eaten: <%= h(ingredient.servings) %> </div>          
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label">
									<div class="label">&nbsp;</div>          
									<div class="hr thin"></div>
								</li>
								<li class="label">
									<div class="label">&nbsp;</div>          
									<div class="hr thin"></div>
								</li>
								<li class="label">
									<div class="label">&nbsp;</div>          
									<div class="hr thin"></div>
								</li>
								<li class="label">
									<div class="label">&nbsp;</div>          
									<div class="hr thin"></div>
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label amount_serving">
										<div class="item"><b>Amount/Serving</b></div>
										<div class="hr thick"></div>
								</li>
								<li class="label dv">
										<div class="item"><b>%DV</b></div>
										<div class="hr thick"></div>
								</li>
								<li class="label amount_serving">
										<div class="item"><b>Amount/Serving</b></div>
										<div class="hr thick"></div>
								</li>
								<li class="label dv">
										<div class="item"><b>%DV</b></div>
										<div class="hr thick"></div>
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label amount_serving">
									<div><b>Total Fat</b> <%= h('%.0f' % (food.lipid_total))%>g</div>            
									<div class="hr thin" />
								</li>
								<li class="label dv">
									<div><b><%= h('%.0f' % (100*food.lipid_total/@dvs[:total_fat])) %></b>%</div>            
									<div class="hr thin" />
								</li>
								<li class="label amount_serving">
									<div><b>Total Carbs</b> <%= h('%.0f' % (food.carbohydrates)) %>g</div>            
									<div class="hr thin" />
								</li>
								<li class="label dv">
									<div><b><%= h('%.0f' % (100*food.carbohydrates/@dvs[:tot_carbs])) %></b>%</div>            
									<div class="hr thin" />
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label amount_serving">
				         <div class="indent">Sat. Fats <%= h('%.0f' % (food.fa_sat)) %>g</div>            
				         <div class="hr thin " />
								</li>
								<li class="label dv">
				         <div><b><%= h('%.0f' % (100*food.fa_sat/@dvs[:fa_sat])) %></b>%</div>            
				         <div class="hr thin" />
								</li>
								<li class="label amount_serving">
				         <div class="indent">Dietary Fiber <%= h('%.0f' % (food.fiber)) %>g</div>            
				         <div class="hr thin" />
								</li>
								<li class="label dv">
				         <div><b><%= h('%.0f' % (100*food.fiber/@dvs[:fiber])) %></b>%</div>            
				         <div class="hr thin" />
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label amount_serving">
				         <div><b>Cholesterol</b> <%= h('%.0f' % (food.cholesterol)) %>mg</div>            
				         <div class="hr thin" />
								</li>
								<li class="label dv">
				         <div><b><%= h('%.0f' % (100*food.cholesterol/@dvs[:cholesterol])) %></b>%</div>            
				         <div class="hr thin" />
								</li>
								<li class="label amount_serving">
				         <div class="indent">Sugars <%= h('%.0f' % (food.sugar_total)) %>g</div>            
				         <div class="hr thin" />
								</li>
								<li class="label dv">
				         <div><b><%= h('%.0f' % (100*food.sugar_total/@dvs[:sugar_total])) %></b>%</div>            
				         <div class="hr thin" />
								</li>
							</ul>

							<ul class="block-grid four-up">
								<li class="label amount_serving">
				         <div><b>Sodium</b> <%= h('%.0f' % (food.sodium)) %>mg</div>          
				         <div class="hr thick" />
								</li>
								<li class="label dv">
				         <div><b><%= h('%.0f' % (100*food.sodium/@dvs[:sodium])) %></b>%</div>            
				         <div class="hr thick" />
								</li>
								<li class="label amount_serving">
				         <div><b>Protein</b> <%= h('%.0f' % (food.protein)) %>g</div>            
				         <div class="hr thick" />
								</li>
								<li class="label dv">
				         <div><b><%= h('%.0f' % (100*food.protein/@dvs[:protein])) %></b>%</div>            
				         <div class="hr thick" />
								</li>
							</ul>

							<ul class="block-grid four-up">
								 <% if food.calcium != 0.0 %>
									<li class="label amount_serving">
									      <div><b>Calcium</b></div>      
									      <div class="hr thin" /> 
									</li>
									<li class="label dv">
											<div> <b><%= h('%.0f' % (food.calcium.to_f*100/@dvs[:calcium])) %>%</b></div>
										 <div class="hr thin" /> 
									</li>
								<% else %>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
								<% end %>
								 <% if !food.iron.nil? %>
									<li class="label amount_serving">
									      <div><b>Iron</b></div>      
									      <div class="hr thin" /> 
									</li>
									<li class="label dv">
											<div> <b><%= h('%.0f' % (food.iron.to_f*100/@dvs[:iron])) %>%</b></div>
										 <div class="hr thin" /> 
									</li>
								<% else %>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
								<% end %>					
							</ul>

							<ul class="block-grid four-up">
								 <% if !food.vit_c.nil? %>
									<li class="label amount_serving">
									      <div><b>Vitamin C</b></div>      
									      <div class="hr thin" /> 
									</li>
									<li class="label dv">
											<div><b> <%= h('%.0f' % (food.vit_c.to_f*100/@dvs[:vit_c])) %>%</b></div>
										 <div class="hr thin" /> 
									</li>
								<% else %>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
								<% end %>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
									<li class="label">
										<div class="label"><b>&nbsp;</b></div>          
										<div class="hr thin"></div>
									</li>
							</ul>
					</div>
				</div>
</div>
				<% end %>
			<% end %>
	</div>
	<br/>
		<p>The nutrient composition of food may vary due to genetic, environmental and processing variables; changes in the manufacturer's product formulation; and/or cooking and preparation techniques.</p>    
		<p>The information Team DIET and/or UMD Dining provides should be considered as approximations of the nutritional analysis menu items.</p>
 
</div>

<script>
	$(function() {
		$( "#accordion" ).accordion({ 
			header: 'div#food_title',
			collapsible: true
		});
	});
	
	$('#edit_meal').qtip({
	   content: 'Add or remove food from this day!',
		 hide: { when: 'click', delay: 200 },
	   position: {
				target: $('#edit_meal'),
	      corner: {
	      	         target: 'bottomMiddle',
	      	         tooltip: 'topMiddle'
	      	      }
	   },
	   style: { 
	      tip: 'topMiddle', // Notice the corner value is identical to the previously mentioned positioning corners
	   		name: 'green'
		 }
	});
	</script>

<div id="myModal" class="reveal-modal">
	<div class="container">
		<a class="close-reveal-modal">×</a>
		<%= render 'meals/form' %>
	</div>
</div>