<h1>Search the database</h1>
<div class="row">
	<% form_tag food_search_path, :method => 'get' do %>
		<div class="ten columns">
		  <%= text_field_tag :search, params[:search] %><br/>
		  <%= submit_tag "Search", :name => nil, :class => "large blue radius button" %>
		</div>
	<% end %>
</div>
<% for food in @foods %>
	<p>
		<%= link_to food.name, food_path(food)%>
		</p>
<% end%>

<script type="text/javascript">

$('#search').qtip({
   content: '<i>Can\'t find what you\'re looking for? <b><%= link_to "Click here to add a custom food.", new_food_path %><b></i>',
	 hide: { when: 'unfocus', delay: 1000 },
   position: {
      corner: {
         target: 'rightMiddle',
         tooltip: 'leftMiddle'
      }
   },
   style: { 
      tip: 'leftMiddle', // Notice the corner value is identical to the previously mentioned positioning corners
   		name: 'green'
	 }
});

$(document).ready(function() {			
    $('*[id*=search]').autocomplete({ 
					source: function( request, response ) {
									var term = request.term;

									$.getJSON( "<%= foods_path(:format => :json) %>", request, function( data, status, xhr ) {
										if(data == "") {
												response(['<strong>Sorry, this food was not found in our database. Create a custom food now?</strong>']);
												return;
										} 
											response( data );
									});
								},
					focus: function(event, ui) {
									if(ui.item.food_id != undefined) {
										$("input#search").val(ui.item.name);
									}
				       },
					select: function(event, ui) {
									$("input#search").val(ui.item.name);
									if(ui.item.food_id != undefined) {
										window.location = 'foods/' + ui.item.food_id
									} else {
										window.location = 'foods/new'
									}
							 }
					}
		 );

$.ui.autocomplete.prototype._renderItem = function (ul, item) {
						the_term = this.term.split(' ').join('|');
            item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + the_term + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong></strong>");
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.label + "</a>")
                    .appendTo(ul);
        };

});
</script>
