<div id="form_top_right">
	<% if @food.user_id == current_user.id %>
		<%= link_to "Delete", @food, :method => :delete %> |
		<%= link_to 'Edit', edit_food_path(@food) %> |
	<% end %>
	<%= link_to "Search Again", food_search_path %> |
	<%= link_to "My Foods", myfoods_path %>
</div>

<% food = @food %>

<h1><%= food.name %></h1>
<div class="row" id="nut_facts_table">
	<div class="twelve columns">
			<ul class="block-grid four-up heading">
				<li class="label amount_serving" id="header">
						<div class="item"><b>Nutrition Facts</b></div>
						<div class="hr thick"></div>
				</li>
				<li class="label dv" id="header">
						<div class="item"><b>&nbsp;</b></div>
						<div class="hr thick"></div>
				</li>
				<li class="label dv" id="header">
						<div class="item"><b>&nbsp;</b></div>
						<div class="hr thick"></div>
				</li>
				<li class="label dv" id="header">
						<div class="item"><b>&nbsp;</b></div>
						<div class="hr thick"></div>
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label amount_serving">
					<div class="label"><b>Calories <%= h('%.0f' % (food.calories)) %></b></div>
				</li>
				<li class="label dv">

				</li>
				<li>
					<div class="label">Calories from Fat <%= h('%.0f' % (food.lipid_total*9))  %></div>					 		
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label amount_serving">
						<% if food.umd == 0%>            
							Serving size: <%= h(food.weight_1_desc.blank? ? "100 grams" : "#{food.weight_1_gms} grams") %>
				  	<% elsif food.umd == 1 %>
							Serving size: <%= h(food.weight_1_desc.blank? ? "100 grams" : "#{food.weight_1_desc}") %>
						<% elsif food.umd == 2 %>
							Serving size: <%= h(food.weight_1_desc.blank? ? "each" : "#{food.weight_1_desc}") %> 
						<% end %>
				</li>
				<li class="label dv">

				</li>
				<li class="label amount_serving">
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label">
					<div class="label">&nbsp;</div>          
					<div class="hr thin"></div>
				</li>
				<li class="label">
					<div class="label">&nbsp;</div>          
					<div class="hr thin"></div>
				</li>
				<li class="label">
					<div class="label">&nbsp;</div>          
					<div class="hr thin"></div>
				</li>
				<li class="label">
					<div class="label">&nbsp;</div>          
					<div class="hr thin"></div>
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label amount_serving">
						<div class="item"><b>Amount/Serving</b></div>
						<div class="hr thick"></div>
				</li>
				<li class="label dv">
						<div class="item"><b>%DV</b></div>
						<div class="hr thick"></div>
				</li>
				<li class="label amount_serving">
						<div class="item"><b>Amount/Serving</b></div>
						<div class="hr thick"></div>
				</li>
				<li class="label dv">
						<div class="item"><b>%DV</b></div>
						<div class="hr thick"></div>
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label amount_serving">
					<div><b>Total Fat</b> <%= h('%.0f' % (food.lipid_total))%>g</div>            
					<div class="hr thin" />
				</li>
				<li class="label dv">
					<div><b><%= h('%.0f' % (100*food.lipid_total/@dvs[:total_fat])) %></b>%</div>            
					<div class="hr thin" />
				</li>
				<li class="label amount_serving">
					<div><b>Total Carbs</b> <%= h('%.0f' % (food.carbohydrates)) %>g</div>            
					<div class="hr thin" />
				</li>
				<li class="label dv">
					<div><b><%= h('%.0f' % (100*food.carbohydrates/@dvs[:tot_carbs])) %></b>%</div>            
					<div class="hr thin" />
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label amount_serving">
         <div class="indent">Sat. Fats <%= h('%.0f' % (food.fa_sat)) %>g</div>            
         <div class="hr thin " />
				</li>
				<li class="label dv">
         <div><b><%= h('%.0f' % (100*food.fa_sat/@dvs[:fa_sat])) %></b>%</div>            
         <div class="hr thin" />
				</li>
				<li class="label amount_serving">
         <div class="indent">Dietary Fiber <%= h('%.0f' % (food.fiber)) %>g</div>            
         <div class="hr thin" />
				</li>
				<li class="label dv">
         <div><b><%= h('%.0f' % (100*food.fiber/@dvs[:fiber])) %></b>%</div>            
         <div class="hr thin" />
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label amount_serving">
         <div><b>Cholesterol</b> <%= h('%.0f' % (food.cholesterol)) %>mg</div>            
         <div class="hr thin" />
				</li>
				<li class="label dv">
         <div><b><%= h('%.0f' % (100*food.cholesterol/@dvs[:cholesterol])) %></b>%</div>            
         <div class="hr thin" />
				</li>
				<li class="label amount_serving">
         <div class="indent">Sugars <%= h('%.0f' % (food.sugar_total)) %>g</div>            
         <div class="hr thin" />
				</li>
				<li class="label dv">
         <div><b><%= h('%.0f' % (100*food.sugar_total/@dvs[:sugar_total])) %></b>%</div>            
         <div class="hr thin" />
				</li>
			</ul>

			<ul class="block-grid four-up">
				<li class="label amount_serving">
         <div><b>Sodium</b> <%= h('%.0f' % (food.sodium)) %>mg</div>          
         <div class="hr thick" />
				</li>
				<li class="label dv">
         <div><b><%= h('%.0f' % (100*food.sodium/@dvs[:sodium])) %></b>%</div>            
         <div class="hr thick" />
				</li>
				<li class="label amount_serving">
         <div><b>Protein</b> <%= h('%.0f' % (food.protein)) %>g</div>            
         <div class="hr thick" />
				</li>
				<li class="label dv">
         <div><b><%= h('%.0f' % (100*food.protein/@dvs[:protein])) %></b>%</div>            
         <div class="hr thick" />
				</li>
			</ul>

			<ul class="block-grid four-up">
				 <% if food.calcium != 0.0 %>
					<li class="label amount_serving">
					      <div><b>Calcium</b></div>      
					      <div class="hr thin" /> 
					</li>
					<li class="label dv">
							<div> <b><%= h('%.0f' % (food.calcium.to_f*100/@dvs[:calcium])) %>%</b></div>
						 <div class="hr thin" /> 
					</li>
				<% else %>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
				<% end %>
				 <% if !food.iron.nil? %>
					<li class="label amount_serving">
					      <div><b>Iron</b></div>      
					      <div class="hr thin" /> 
					</li>
					<li class="label dv">
							<div><b><%= h('%.0f' % (food.iron.to_f*100/@dvs[:iron])) %>%</b></div>
						 <div class="hr thin" /> 
					</li>
				<% else %>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
				<% end %>					
			</ul>

			<ul class="block-grid four-up">
				 <% if !food.vit_c.nil? %>
					<li class="label amount_serving">
					      <div><b>Vitamin C</b></div>      
					      <div class="hr thin" /> 
					</li>
					<li class="label dv">
							<div><b> <%= h('%.0f' % (food.vit_c.to_f*100/@dvs[:vit_c])) %>%</b></div>
						 <div class="hr thin" /> 
					</li>
				<% else %>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
				<% end %>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
					<li class="label">
						<div class="label"><b>&nbsp;</b></div>          
						<div class="hr thin"></div>
					</li>
			</ul>
	</div>
</div>

	<p>The nutrient composition of food may vary due to: genetic, environmental and processing variables; changes in the manufacturer's product formulation; and cooking and preparation techniques.</p>    
	<p>The information Team DIET and/or UMD Dining provides should be considered as approximations of the nutritional analysis menu items.</p>