<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/scripts' %>
    <%= render :partial => 'layouts/ga' %>
		<% csrf_meta_tag %>
  </head>
  <body>
      	<%= render 'layouts/header' %>
	    <div class="container">
				<div class="row round">
						<div class="twelve columns">
							<%= render 'layouts/sidebar' %>
					    <div class="ten columns">
								<% flash.each do |key, value| %>
						      <%= content_tag(:div, value, :class => "alert-box #{key}") %>
						    <% end %>
								<%= yield %>
							</div>
						</div>
				  </div>
    </div>
  	<%= render 'layouts/footer' %>

		<script type="text/javascript">
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/4yHr2DVqlMeVF8UjDiWJcA.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
  </body>
</html>
